<h1>INDEX</h1>

<div>
	<% @posts.each do |p| %>
		<% user = User.find_by(id: p.author) %>
		<ul>
			<li><%= p.title %></li>
			<li><%= p.body %></li>
			<% if logged_in? %>
				<li>Author: <%= user.username %></li>
			<% end %>
		</ul>
	<% end %>
	<% if logged_in? %>
		<h2><%= link_to "Create Post", new_post_path%></h2>
	<% end %>
</div>